@media screen and (max-width: 900px) {
    section {
        width: 90%;
    } 
}

@media screen and (min-width: 901px) {
    section {
        width: 900px;
    }
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    color: #333333;
    font-family: 'Lato', sans-serif;
    padding-bottom: 1em;
}

a {
    text-decoration: none;
    color: #ff6250;
    transition: 0.2s ease-in-out all;
}

a:hover {
    color: #e32400;
}

h3 {
    margin-top: 0;
}

h4 {
    margin-top: 0;
}

section {
    padding: 1em;
    text-align: center;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 10px #e0e0e0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

section > img {
    border-radius: 1em;
    width: 120px;
    height: 120px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.workplace > h3 {
    color: #555;
    font-size: 14px;
}

.workplace > img {
    width: 120px;
}

.workplace > span {
    color: #888;
    font-weight: normal;
}

.workplace > h4 {
    margin-top: 0;
}

section > ul > li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 250px;
    border: 1px solid #eee;
    padding: 1em;
    border-radius: 1em;
    vertical-align: center;
}

section > ul > li > img {
    width: 120px;
}