body {
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    color: #333333;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

p {
    color: #666;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: #ff6250;
    transition: 0.2s ease-in-out all;
}

a:hover {
    color: #e32400;
}