@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #c1121f;
  --color-accent-dark: #780000;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-accent-dark);
}