@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #FF6663;
  --color-accent-dark: #FF8785;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-accent-dark);
}

.tinted-image {
  filter: sepia(1) hue-rotate(200deg) saturate(2);
}