@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #FF6663;
  --color-accent-dark: #FF8785;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: 'Quicksand', sans-serif;
}

.tinted-image {
  filter: sepia(1) hue-rotate(200deg) saturate(2);
}

.tinted-image:hover {
  filter: sepia(0) hue-rotate(230deg) saturate(1);
}

.swiper-slide {
  opacity: 0.8;
}

.swiper-slide-visible {
  opacity: 1;
}