$primary: #1572A1
$secondary: #9AD0EC
$highlight: #FDAF75

$window-background: #191919
$background-primary: $primary

$klarna-primary: rgb(255, 179, 199)

$link: $primary
$text: hsl(0, 0%, 86%)

$default-padding: 1.25rem

@import "~bulma/sass/base/animations.sass"
@import "~bulma/sass/base/helpers.sass"
@import "~bulma/sass/components/_all.sass"
@import "~bulma/sass/elements/_all.sass"
@import "~bulma/sass/elements/_all.sass"
@import "~bulma/sass/grid/_all.sass"
@import "~bulma/sass/helpers/_all.sass"
@import "~bulma/sass/layout/_all.sass"
@import "~bulma/sass/utilities/_all.sass"