.hero
    @extend .hero
    @extend .is-primary

.heroBody
    @extend .hero-body

.heroTitle
    @extend .title

.heroSubtitle
    @extend .subtitle

.heroList
    ul
        display: inline

        li
            display: inline

.heroListDisabled
    opacity: 0.5
    text-decoration: line-through

.heroListEnabled
    opacity: 1.0
    font-weight: bold