.projectsContent

    
.projectsColumns
    @extend .columns

.projectsColumn
    @extend .column

.projectsTitle
    @extend .has-text-grey-light
    text-transform: uppercase
    font-weight: 600
    font-size: 13px
    margin-bottom: 0.2rem

.technologiesList
    margin-bottom: 1em

    li
        display: inline-block
        margin: 0.25rem

.technologiesInstructions
    @extend .has-text-grey
    font-size: 11px

    span
        font-weight: 600